#app-menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#app-menu-button {
    background-color: #262626;
    color: #f5f5f5;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#app-menu-button:hover {
    background-color: #FC6A04;
}

#app-menu-grid {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#app-menu-grid.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.app-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    padding: 10px;
    border-radius: 8px;
}

.app-menu-item:hover {
    transform: scale(1.05);
    background-color: #FC6A04;
}

.app-menu-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.app-menu-item p {
    font-size: 14px;
    color: #f5f5f5;
    margin: 0;
}